
ul li { list-style: none;}

body{
    font-family:'Roboto', sans-serif;
}


.hero-section{
    text-align: center;
    background-color: yellow;
font-size: 60px;
font-weight: 900;
padding-bottom:30px;
font-family: 'Roboto', sans-serif;
position: relative;}

.hero-heading h2{
    font-size: 140px;
padding-top: 20px;}



.hero-heading h2 strong{ 
    border: 1px solid black;
    color: yellow;
    background-color: black;
    font-size: 120px;
    margin-top: -20px;
}

.hero-heading p{ 
    
    margin-top: -120px;}

.animation{
    position: absolute;
right:20px;
top:20px;}



.flex {
    display: flex ;
align-items: center;
justify-content: space-between;}

.flex-col{ 
    display: flex;
    flex-direction: column;
}


.flex-30{
    flex:0 1 30%;
}
.width-full{ 
    width: 100%;
}





.our-stories{ 
    background: linear-gradient(rgba(71, 64, 64, 0.5) ,rgba(53, 39, 39, 0.5)) ,url(../media/human-revolution.gif);
background-repeat: no-repeat;
background-size: cover;
height: 90vh;
background-position: center center;
text-align: center;
font-size: 60px;
color: white;
font-family:'Roboto', sans-serif;
padding: 20px 0;
background-attachment: fixed;
}

.our-stories p{ font-size: 30px;
margin-top: -74px;}

.article{
    max-width: 900px;
    margin: 0 auto;
}
 
.article-col { 
    border: 1px solid black;
    background-color: cadetblue;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.article img{ height: 200px;
object-fit: contain;
width:300px;}

.article h3 , .article p, .article a{ 
    font-size: 20px;
    color: black;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    padding: 10px 0;
}

.article h3{
    font-size: 20px;
    color: blanchedalmond;
}

.article p{
    font-family:grey ;
    font-size: 16px;
    padding-top: 50px;

}

.article .btn{
    text-decoration: none;
    color: skyblue;
    font-size: 25px;
}

.bio-image{
    margin-right: -90px;
}


.bio-item{
    padding-right: 200px;
    border-left:80px solid black;
    padding-left: 20px;
   

}

.bio-link a{
    font-size: 30px;
margin-right: 20px;
color: grey;}
   

.bio-item h2{
    font-size: 36px;  
    font-weight: 800;
    line-height: 1.3;
  
}

.bio-item p{ 
    font-size: 20px;
    font-weight: 500;

}
=======
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************CUstom Code***********/

*,
*::before,
*::after{
    box-sizing:border-box;
}

body{
    font-family: 'Roboto', sans-serif;
 
}

.container{
    max-width:1200px;
    margin:0 auto;
    
}

.header{
 
    background-color:black;
    width:100%;
    height:72px;
    line-height: 72px;
    position: relative;
    padding-bottom: 6px;
    
}


.nav a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0 40px;
    font-weight:400;
    letter-spacing: 1px;
}


