/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************CUstom Code***********/

*,
*::before,
*::after{
    box-sizing:border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    
}

.container{
    max-width:1400px;
    margin:0 auto;
   
}

.flex{
    display: flex;
    justify-content: space-between;
}
/*********Header ***********/


.header{
 
    background-color:black;
    width:100%;
    height:72px;
    line-height: 72px;
    position: relative;
    padding-bottom: 6px;
    
    
}


.nav a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0 40px;
    font-weight:400;
    letter-spacing: 1px;
}


ul li { list-style: none;}

body{
    font-family:'Roboto', sans-serif;
}

/* General style */
/* Variable */
:root{
    --primary:#ffffff;
    --secondary: #FEF9F7;
    --accent: #FF87D4;
    --textDark: rgb(35, 45, 56);
    --textLight:rgb(122, 122, 122);
    --bg: rgb(233, 236, 252);
    --textWhite: rgb(255, 255, 255);
}

body{
    font-size: 16px;
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
    color: var(--textLight);
    
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Source Serif Pro', serif;
}

.container{
    max-width: 1380px;
    margin: 0 auto;
    width:100%; 
    /* border: 2px solid red;
     */
}
.padding{
    padding: 60px 0;
}
/* FLEX-BOX */
.flex{
    display: flex;
}
.item-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-evenly{
    justify-content: space-evenly;
}
.justify-between{
    justify-content: space-between;
}
.justify-end{
    justify-content: flex-end;
}
.column{
    flex-direction: column;
}
.item-start{
    align-items: flex-start;
}
.item-stretch{
    align-items: stretch;
}
.margin-bottom{
    margin-bottom: 50px;
  }
.margin-top{
    margin-top: 20px;
}
/* Column */

.flex-30{
    flex: 0 1 30%;
}
.flex-12{
    flex: 0 1 12%;
}
.flex-55{
    flex: 0 1 55%;
}
.flex-30{
    flex: 0 1 30%;
}
.flex-50{
    flex: 0 50%;
}

.flex-70{
    flex: 0 1 70%;
}

.wrap{
    flex-wrap: wrap;
}

/* CENTER ELEMENTS */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* TEXTS */
.text-center{
    text-align: center;
}
.text-primary{
    color: var(--primary);
}

.btn{
    font-size: 32px;
    font-weight: 800;
    padding: 16px 28px;
    color: #171321;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: none;
    outline: 0;
    border: 0;
    display: inline-block;
    background-color: var(--accent);
    margin: 0 auto;
    border-radius: 5px;
}
.btn:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    opacity: 0.8;
    color: #ffffff !important;
}
strong{
  color: #FD656B;
}
.heading{
    font-family: 'Raleway', sans-serif;
    font-size: 3.6rem;
    font-weight: 900;
    color: var(--textDark);
    text-transform: capitalize;
    line-height: 1.2;
    color: #171321;
}
.sub-heading{
    text-transform: capitalize;
    font-size: 1.0rem;
    color: var(--textdark);
    font-weight: 600;
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-family: 'Raleway', sans-serif;
}
.para{
    font-size: 26px;
    color:#9E9CA3;
    font-weight: 300;
    margin: 12px 0;
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
    margin-bottom: 3rem;
    
}
/*  learning-fun Section */
.learning-fun{
    background-color: #87FFFB;
    margin: 0 auto;
    padding: 30px;
}
.article{
 margin: 0 auto;
 text-align: center;
 width: 65%;
}
.white-box{
    
    border: 2px solid #87FFFB;
    margin-left: 30px;
    background-color: var(--primary);
    border-radius: 18px;
    padding: 50px;
    height: 480px;
    position: relative;
}
.white-box-second{
    height: 450px;
}
.icon img{
position: absolute;
top: -63px;
left: 121px;
background-color: rgba(225,255,255,-17.4);
}
.white-box-article a{
  text-decoration: none;
  color: var(--accent);
}
.box-para{
    margin: 30px 0;
}
.font i{
color: var(--accent);
font-weight: 600;
margin-left: 10px;
}
/*  stories-section  */

.content-item{
    margin-right: 18px;
    margin-left: 25px;
    margin-bottom: 40px;
    border: 2px solid #Ccc;
    height: 450px;
    padding: 20px;
    border-radius: 4px;
}
.content-item:hover {
    border: 2px solid #FF87D4;
}
.content-heading{
    font-size: 20px;
    font-weight: 700;
    color: var(--textDark);
    text-align: left;
}
.stories-section-item{
    /* border: 1px solid red; */
    width:75%;
    margin-left: 200px;
}
.content-para{
    font-size: 18px;
    text-align: left;
 margin: 30px 0;
 line-height: 1.3;
}
.font a {
    text-align: left;
    text-decoration: none;
  color: var(--accent);
}
.content-item-btn{
    margin: 20px 0;
   
    text-align: center;
}
.content-item-btn a{
    text-align: center;
    padding: 20px;
}



.header{
 
    background-color:black;
    width:100%;
    height:72px;
    line-height: 72px;
    position: relative;
    padding-bottom: 6px;
    
}


.nav a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0 40px;
    font-weight:400;
    letter-spacing: 1px;
}





.hero-section{
    text-align: center;
    background-color: yellow;
font-size: 60px;
font-weight: 900;
padding-bottom:30px;
font-family: 'Roboto', sans-serif;
position: relative;}

.hero-heading h2{
    font-size: 140px;
padding-top: 20px;}



.hero-heading h2 strong{ 
    border: 1px solid black;
    color: yellow;
    background-color: black;
    font-size: 120px;
    margin-top: -20px;
}

/* .hero-heading p{ 
    
    margin-top: -120px;} */

.animation{
    position: absolute;
right:20px;
top:20px;}



.flex {
    display: flex ;
align-items: center;
justify-content: space-between;}

.flex-col{ 
    display: flex;
    flex-direction: column;
}


.flex-30{
    flex:0 1 30%;
}
.width-full{ 
    width: 100%;
}





.our-stories{ 
    background: linear-gradient(rgba(71, 64, 64, 0.5) ,rgba(53, 39, 39, 0.5)) ,url(../media/human-revolution.gif);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
text-align: center;
font-size: 60px;
color: white;
font-family:'Roboto', sans-serif;
padding: 20px 0;
background-attachment: fixed;
}

.our-stories p{ font-size: 30px;
margin-top: 20px;}

.article{
    max-width: 900px;
    margin: 0 auto;
}
 
.article-col { 
    border: 1px solid black;
    background-color: cadetblue;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.article img{ height: 200px;
object-fit: contain;
width:300px;}

.article h3 , .article p, .article a{ 
    font-size: 20px;
    color: black;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    padding: 10px 0;
}

.article h3{
    font-size: 20px;
    color: blanchedalmond;
}

.article p{
    font-family:grey ;
    font-size: 16px;
    padding-top: 50px;

}

.article .btn{
    text-decoration: none;
    color: skyblue;
    font-size: 25px;
}

.bio-image{
    margin-right: -90px;
}


.bio-item{
    padding-right: 200px;
    border-left:80px solid black;
    padding-left: 20px;
   

}

.bio-link a{
    font-size: 30px;
margin-right: 20px;
color: grey;}
   

.bio-item h2{
    font-size: 36px;  
    font-weight: 800;
    line-height: 1.3;
  
}

.bio-item p{ 
    font-size: 20px;
    font-weight: 500;

}


/*************Section Joining *************/
.section-join{
    padding: 80px 0;
    background-color:#ffe742;
    text-align: center;
    border:1px solid #ddc62c;
}

.section-join h2{
    font-size: 65px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 30px;

}
.join-para{
    margin:40px 300px;
    font-size: 20px;
    color:rgb(70, 69, 69);
}
.join-img{
    width:150px;
    height:150px;
    position: absolute;
    left:400px;
    top:40px;
     margin-right:40px;


}

.join-icon{
    position: relative; 
    margin-left:0px;
}
.textbox{
    text-align: left;
margin-left:600px;
}
span{
    
    padding:10px;
    font-size: 22px;
    margin-left: 60px;
    color:rgb(70, 69, 69);
    display: inline-block;
}
input {
    
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    margin-left: 60px;
}

/***join button***/

.section-join .btn{
    font-size: 36px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    padding: 16px 38px;
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: none;
    outline: 0;
    border: 0;
    display: inline-block;
    background-color:#ff87d4;
    margin-left:85px;
    border-radius: 5px;
    margin-top:40px;
}
/*****************Section connect ************/


.connect-section{
    padding: 80px 0;
    background-color: #ff87d4;
    text-align: center;
    border:1px solid #c10b7e;
}

.col1{
    width:30%;
    margin:20px 0;
    background-color: white;
    border:1px solid #63ddd9;
    border-radius: 15px;
    
    position: relative;
    
}
.connect-section h2{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 30px;

}
.connect-section h3{
    font-size: 22px;
    font-weight: 400;
    color:rgb(70, 69, 69);
    margin-bottom: 120px;
    
}

.connect-section img{
    width:200px;
    height:200px;
    margin-bottom: 40px;
    
  
}

input,
button {
    box-shadow: none;
    outline: 0;
    border: 0;
}

.connect-link {
    font-size:20px;
    text-decoration: none;
    color:black;
    text-align: left;
    letter-spacing: 1px;
    padding:10px;
    margin: 20px 30px;    
}

.margin{
    margin-top:100px;
    text-align: left;
    margin-bottom: 40px;

}
.para{
    font-size: 18px;
    color:grey;
    letter-spacing: 1px;
    margin:30px 20px;
    padding:10px;

}

.link-color{
    color:#c10b7e;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    padding:10px;
    margin-left: 20px;
    margin-bottom: 60px;
    

}
/*****Footer****/


.footer{
    
    
    padding:40px;
    background-color:white;
    width:100%;
    color:grey;
}

.footer-links a {

    color:grey;
    margin:10px;
    text-decoration: none;
}
