/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************CUstom Code***********/

*,
*::before,
*::after{
    box-sizing:border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    
}

.container{
    max-width:1400px;
    margin:0 auto;
   
}

.flex{
    display: flex;
    justify-content: space-between;
}
/*********Header ***********/


.header{
 
    background-color:black;
    width:100%;
    height:72px;
    line-height: 72px;
    position: relative;
    padding-bottom: 6px;
    
    
}


.nav a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0 40px;
    font-weight:400;
    letter-spacing: 1px;
}

/*************Section Joining *************/
.section-join{
    padding: 80px 0;
    background-color:#ffe742;
    text-align: center;
    border:1px solid #ddc62c;
}

.section-join h2{
    font-size: 65px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 30px;

}
.join-para{
    margin:40px 300px;
    font-size: 20px;
    color:rgb(70, 69, 69);
}
.join-img{
    width:150px;
    height:150px;
    position: absolute;
    left:400px;
    top:40px;
     margin-right:40px;


}

.join-icon{
    position: relative; 
    margin-left:0px;
}
.textbox{
    text-align: left;
margin-left:600px;
}
span{
    
    padding:10px;
    font-size: 22px;
    margin-left: 60px;
    color:rgb(70, 69, 69);
    display: inline-block;
}
input {
    
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    margin-left: 60px;
}

/***join button***/

.section-join .btn{
    font-size: 36px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    padding: 16px 38px;
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: none;
    outline: 0;
    border: 0;
    display: inline-block;
    background-color:#ff87d4;
    margin-left:85px;
    border-radius: 5px;
    margin-top:40px;
}
/*****************Section connect ************/


.connect-section{
    padding: 80px 0;
    background-color: #ff87d4;
    text-align: center;
    border:1px solid #c10b7e;
}

.col1{
    width:30%;
    margin:20px 0;
    background-color: white;
    border:1px solid #63ddd9;
    border-radius: 15px;
    
    position: relative;
    
}
.connect-section h2{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 30px;

}
.connect-section h3{
    font-size: 22px;
    font-weight: 400;
    color:rgb(70, 69, 69);
    margin-bottom: 120px;
    
}

.connect-section img{
    width:200px;
    height:200px;
    margin-bottom: 40px;
    
  
}

.icon{
    position: absolute;
    top: -100px;
    left:10px;
    right:20px;
    
}
.connect-link {
    font-size:20px;
    text-decoration: none;
    color:black;
    text-align: left;
    letter-spacing: 1px;
    padding:10px;
    margin: 20px 30px;    
}

.margin{
    margin-top:100px;
    text-align: left;
    margin-bottom: 40px;

}
.para{
    font-size: 18px;
    color:grey;
    letter-spacing: 1px;
    margin:30px 20px;
    padding:10px;

}

.link-color{
    color:#c10b7e;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    padding:10px;
    margin-left: 20px;
    margin-bottom: 60px;
    

}
/*****Footer****/


.footer{
    
    
    padding:40px;
    background-color:white;
    width:100%;
    color:grey;
}

.footer-links a {

    color:grey;
    margin:10px;
    text-decoration: none;
}
